* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

.main_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_container {
  flex: 5;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.numDisplay {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
}

.numDisplay h1 {
  font-size: 60px;
}

.start_reset_button {
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 20px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the shadow values as needed */
}

.start_reset_button:hover {
  background-color: black;
  color: white;
}

.bottom_container {
  flex: 2;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  flex: 1;
  height: 50%;
  margin: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.box:hover {
  border: 1px solid green;
  transform: translateY(-20px);
}

.box span {
  font-size: 10px;
}

.red {
  border: 2px solid red;
}

@media screen and (max-width: 1300) {
  .bottom_container {
    flex: 2;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .box {
    flex: 1;
    height: 50%;
    margin: 1px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .box:hover {
    border: 1px solid green;
    transform: translateY(-20px);
  }
}

@media screen and (max-width: 1200px) {
  .bottom_container {
    flex: 2;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
  }

  .box {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .box:hover {
    border: 1px solid green;
    transform: translateY(-20px);
  }

  .box span {
    font-size: 10px;
  }
}

@media screen and (max-width: 550px) {
  .bottom_container {
    flex: 2;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
  }

  .box {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .box:hover {
    border: 1px solid green;
    transform: translateY(-20px);
  }

  .box span {
    font-size: 10px;
  }
}

@media screen and (max-width: 450px) {
  .bottom_container {
    flex: 2;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
  }

  .box {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .box:hover {
    border: 1px solid green;
    transform: translateY(-20px);
  }

  .box span {
    font-size: 10px;
  }
}

@media screen and (max-height: 690px) {
  .top_container {
    flex: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .numDisplay {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
  }

  .numDisplay h1 {
    font-size: 40px;
  }

  .start_reset_button {
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the shadow values as needed */
  }

  .start_reset_button:hover {
    background-color: black;
    color: white;
  }

  .bottom_container {
    flex: 3;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
  }

  .box {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .box:hover {
    border: 1px solid green;
    transform: translateY(-20px);
  }

  .box span {
    font-size: 10px;
  }
}
