* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  background-color: black;
  color: white;
}

.main_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.top_container {
  flex: 1.5;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.numDisplay {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid rgb(86, 208, 212);
}

.numDisplay h1 {
  font-size: 60px;
}

.start_reset_button {
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 20px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.start_reset_button:hover {
  background-color: rgb(86, 208, 212);
  box-shadow: 0px 5px 10px rgba(0, 255, 0, 0.5);
  color: white;
}

.bottom_container {
  flex: 1;
  width: 100%;
  min-width: 90%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  flex: 1;
  min-width: 35px;
  max-width: 60px;
  height: 50%;
  margin: 10px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.box:hover {
  border: 3px solid rgb(86, 208, 212);
}

.box span {
  font-size: 20px;
}

.red {
  border: 2px solid red;
}

@media screen and (max-width: 1620px) {
  .bottom_container {
    flex: 2;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
  }

  .box {
    min-width: 40px;
    max-width: 60px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .box:hover {
    border: 1px solid rgb(86, 208, 212);
  }

  .box span {
    font-size: 10px;
  }
}

@media screen and (max-width: 950px) {
  .bottom_container {
    flex: 2;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
  }

  .box {
    min-width: 40px;
    max-width: 60px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .box:hover {
    border: 1px solid rgb(86, 208, 212);
  }

  .box span {
    font-size: 10px;
  }
}

@media screen and (max-width: 650px) {
  .bottom_container {
    flex: 2;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
  }

  .box {
    min-width: 40px;
    max-width: 60px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .box:hover {
    border: 1px solid rgb(86, 208, 212);
  }

  .box span {
    font-size: 10px;
  }
}

@media screen and (max-width: 440px) {
  .top_container {
    flex: 1.5;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .numDisplay {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid rgb(86, 208, 212);
  }

  .numDisplay h1 {
    font-size: 40px;
  }

  .bottom_container {
    flex: 2;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
  }

  .box {
    min-width: 40px;
    max-width: 60px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .box:hover {
    border: 1px solid rgb(86, 208, 212);
  }

  .box span {
    font-size: 10px;
  }
}
@media screen and (max-width: 350px) {
  .top_container {
    flex: 1.5;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .numDisplay {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid rgb(86, 208, 212);
  }

  .numDisplay h1 {
    font-size: 40px;
  }

  .bottom_container {
    flex: 2;
    width: 100%;
    min-width: 270px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
  }

  .box {
    min-width: 40px;
    max-width: 60px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .box:hover {
    border: 1px solid rgb(86, 208, 212);
  }

  .box span {
    font-size: 10px;
  }
}

@media screen and (max-height: 800px) {
  .main_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .top_container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .numDisplay {
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border: 3px solid rgb(86, 208, 212);
  }

  .numDisplay h1 {
    font-size: 30px;
  }

  .start_reset_button {
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  }

  .start_reset_button:hover {
    background-color: rgb(86, 208, 212);
    box-shadow: 0px 5px 10px rgba(0, 255, 0, 0.5);
    color: white;
  }

  .bottom_container {
    flex: 2;
    width: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
    justify-content: space-around;
    align-items: center;
  }

  .box {
    min-width: 20px;
    max-width: 40px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .box:hover {
    border: 3px solid rgb(86, 208, 212);
  }

  .box span {
    font-size: 10px;
  }

  .red {
    border: 2px solid red;
  }
}

@media screen and (max-height: 670px) {
  .main_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .top_container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .numDisplay {
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border: 3px solid rgb(86, 208, 212);
  }

  .numDisplay h1 {
    font-size: 30px;
    padding: 10px;
  }

  .start_reset_button {
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  }

  .start_reset_button:hover {
    background-color: rgb(86, 208, 212);
    box-shadow: 0px 5px 10px rgba(0, 255, 0, 0.5);
    color: white;
  }

  .bottom_container {
    flex: 1;
    width: 100%;
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px;
    justify-content: space-around;
    align-items: center;
  }

  .box {
    min-width: 20px;
    max-width: 40px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .box:hover {
    border: 3px solid rgb(86, 208, 212);
  }

  .box span {
    font-size: 10px;
  }

  .red {
    border: 2px solid red;
  }
}

@media screen and (max-height: 420px) {
  .main_container {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
  }

  .top_container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .numDisplay {
    height: 100px;
    width: 100px;
    min-height: 100px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border: 3px solid rgb(86, 208, 212);
  }

  .numDisplay h1 {
    font-size: 30px;
    padding: 10px;
  }

  .start_reset_button {
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  }

  .start_reset_button:hover {
    background-color: rgb(86, 208, 212);
    box-shadow: 0px 5px 10px rgba(0, 255, 0, 0.5);
    color: white;
  }

  .bottom_container {
    flex: 1;
    width: 100%;
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px;
    justify-content: space-around;
    align-items: center;
  }

  .box {
    min-width: 20px;
    max-width: 40px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .box:hover {
    border: 3px solid rgb(86, 208, 212);
  }

  .box span {
    font-size: 10px;
  }

  .red {
    border: 2px solid red;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%; /* Full width */
  height: 70%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instructions h2 {
  padding-bottom: 10px;
  text-align: center;
}

.instructions h3 {
  padding-bottom: 10px;
  text-align: center;
}

.instructions span {
  padding-bottom: 10px;
  text-align: center;
}

.modal-content div {
  display: flex;
  flex-direction: column;
  color: black;
}

/* The Close Button */
.close {
  align-self: start;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
